@import "tailwindcss";

@theme {
    --font-sans: InterVariable, sans-serif;
    --color-light: #d0d0d0;
    --color-med-light: #b0b0b0;
    --color-med: #808080;
    --color-med-dark: #404040;
    --color-dark: #202020;
}

:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #080808;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: white;
    margin: 0;
    cursor: default;
    overflow-x: hidden;
}
